body {
  background-color: #696565; }

.nav-item {
  color: #c7c2c2; }

.navbar-man {
  background-color: #02083d;
  color: #f7f7f7;
  text-align: center; }

.letter {
  background-color: #5889f3;
  color: black; }

.principal-box {
  display: flex;
  background-color: #dfe2fc;
  flex-flow: row wrap;
  text-align: center; }

.button-row {
  grid-auto-rows: auto; }

.jumbotron {
  background-color: #02083d;
  color: blanchedalmond;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

.breadcrumb {
  background-color: #02083d;
  color: blanchedalmond;
  text-align: center; }

.disabled {
  color: blanchedalmond;
  text-align: center; }

.footer {
  background-color: #02083d;
  color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 20px; }

.button-end {
  align-items: flex-end; }

.letter {
  color: azure; }

.Diferente {
  background-color: #02083d;
  color: azure;
  padding: 10px; }

.azul {
  background-color: #02083d; }

.letra_blanca {
  color: azure; }

.mt5 {
  padding: 10px;
  padding-bottom: 10px; }
