$background: rgb(2, 8, 61);
$letras:rgb(199, 194, 194);
$fondo:rgb(105, 101, 101);

$amarillo:rgb(238, 255, 0);
$rojo:rgb(255, 0, 0);
$verde:rgb(72, 255, 0);

@mixin margenes($top,$botton){
    margin-top: $top;
    margin-bottom: $botton;    
}
body {
    background-color: $fondo;
  }

.nav-item{
    color: $letras;
}

.navbar-man{
    background-color:$background;
    color: rgb(247, 247, 247);
    text-align: center;
}
.letter{
    background-color: rgb(88, 137, 243);
    color: rgb(0, 0, 0);
}

.principal-box{
    display: flex;
    background-color: rgb(223, 226, 252);
    flex-flow:	row wrap;	
    text-align: center;
}

.button-row{
    grid-auto-rows:auto

}

.jumbotron{
    background-color:$background;
    color: blanchedalmond;
    text-align: center;
    @include margenes(50px, 0px);
}
.breadcrumb{
    background-color:$background;
    color: blanchedalmond;
    text-align: center;
}

.disabled{
    color: blanchedalmond;
    text-align: center;
}

.footer{
    background-color: $background;
    color: blanchedalmond;
    display:	flex;
    flex-wrap:	wrap;
    text-align: center;	
    padding-top: 20px;
    
}

.button-end{
    align-items:flex-end;
}
.letter{
    color: azure;
}
.Diferente{
    background-color:  $background;
    color: azure;
    padding: 10px;
}

.azul{
    background-color: $background;
}

.letra_blanca{
    color: azure;    
}

.mt5{
    padding: 10px;
    padding-bottom: 10px;
}



